body {
    background-color: powderblue;
    margin:0px; 
}
header {
    text-align: center;
}
main {
    display: flex;
}
h3 {
    background-color: khaki;
    box;
    text-align: center;
    border-radius: 10px;
}
div{
    border: 5px solid black;
    margin: 15px;
    border-radius: 8px;
    border-left: 20px dotted;
    border-right: 15px solid black;
    border-bottom: 15px solid black; 
    background-color: chocolate;  
    box-shadow: 10px 10px 30px;
    height: 70%;
    
}
.img {
    border: 3px solid black;
    align-content: center;
    border-radius: 150px;
    box-shadow:  10px 10px 30px;
    align-self: center;
}
.mrgins {
    margin-top: 30px;
    border: 2px solid black;
}